/* FONTS */

@font-face {
    font-family: 'poppinsbold';
    src: url('assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hedvig-letters-sans';
    src: url('assets/fonts/hedvigletterssans-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/hedvigletterssans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, a{
  font-family: 'hedvig-letters-sans',Verdana, Geneva, Tahoma, sans-serif;
  color: #ABD7FF;
  background-color: #202124;
}


h1,h2,h3,h4{
  font-family: 'poppinsregular',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
  font-size: xx-small;
  bottom: 0;
  position: fixed;
}

.app-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__block{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
}

.container__block-header{
  text-align: center;
  padding-top: 1rem;
}

/* bg */

.home-background{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Home */

.home-header, .home-header__tag{
  color: #ABD7FF;
}

.home-header{
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .home-header{
    font-size: 7rem;
  }
}

.home-header__tag{
  margin-top: 10vh;
}

/* Buttons */

.links{
  display: flex;
}

.btn{
  margin: 0.5rem;
  font-family: 'poppinsregular',Arial, Helvetica, sans-serif;
  border-radius: 30px;
  color: #203162;
  font-weight: 600;
  border: none;
  letter-spacing: 1px;
  border-radius: 30px;
  padding-inline: 2.5rem;
}
.btn:hover{
  color: #203162;
}

.btn-selling{
  font-size: 2rem;
}


.btn-buying{
  font-size: 2rem;
}


.btn-blue{
  background-color: #ABD7FF;
  /* margin-left: 3rem; */
}
.btn-blue:hover{
  background-color: #728faa;
}

.btn-submit{
  background-color: #19A28D;
  margin-top: 2rem;


}
.btn-submit:hover{
  background-color: #137a6b;
}
.btn-home{
  margin-top: 1.5rem;
  
}

/* forms */

form{
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


label{
  font-weight: bold;
  letter-spacing: 1px;
}

.container__submit-btn{
  display: flex;
  justify-content: center;
}

.calculated-results{
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.call-to-action{
  display: flex;
  justify-content: end;
  align-items: center;
}

.return-action{
  display: flex;
  justify-content: start;
  align-items: center;
}

.agency-fee{
  margin-left: 2rem;
}


@media screen and (min-width: 768px) {
  .form-label{
    width: 50%;
  }
  .input-group{
    width: 50%;
    display: inline-flex;
  }
  .checkbox-field{
    display: flex;
  }
}


/* img */

.responsive-img{
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}

.responsive-img:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .link{
    display: flex;
    text-decoration: none;
    justify-content: center;
  }
  .btn-selling{
    font-size: 1.5rem;
    width: 50%;
  }
  .btn-buying{
    font-size: 1.5rem;
    width: 50%;
  }
  .responsive-img{
    margin-left: 3rem;
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 430px) {
  .home-background{
    padding-top: 10vh;
  }
  .btn-selling{
    font-size: 1.5rem;
    width: 100%;
  }
  .btn-buying{
    font-size: 1.5rem;
    width: 100%;
  }
  .responsive-img{
    margin-left: 3rem;
    height: auto;
  }
}